* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* banner styles */

.header {
    background-image: url("./images/banner/banner1.png");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: end;
    padding-top: 220px;
    padding-right: 350px;
}

.banner-title {
    font-size: 74px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    color: #757575;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: lightsalmon;
    color: aliceblue;
    border: none;
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 5px;
}


/* failures styles */

.my-failure {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 160, 122, 0.103);
}

.failure {
    padding-top: 200px;
    padding-left: 150px;
}

.section-title {
    font-size: 40px;
}

.section-description {
    margin-top: 20px;
    color: #757575;
    font-weight: 100;
}

.failure-list {
    color: #757575;
    list-style: none;
    margin-top: 15px;
}


/* plan styles */

.plan {
    margin-top: 150px;
}

.my-plan {
    display: flex;
    justify-content: center;
    text-align: center;
}

.plan h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
}

.my-plan h2 {
    text-align: center;
    font-size: 25px;
}

.plan1 {
    padding: 30px 65px;
}

.icons {
    padding: 10px;
}

.my-plan p {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}


/* positive mindset */

.positive-mindset {
    background-image: url(images/watch.png), url(images/gradient2.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 250px;
    width: 1200px;
    text-align: start;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 20px;
    justify-items: center;
    margin: 150px 400px;
    border-radius: 5px;
}

.mindset-header {
    color: white;
    font-size: 35px;
}


/* footer styles */

.footer {
    display: flex;
    padding: 50px 100px;
    background-color: black;
}

.future,
.subscribe {
    margin: 50px 250px;
}

.footer-title {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.footer-description {
    color: #757575;
    margin-bottom: 20px;
}

.subscribe-title {
    font-size: 30px;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
}

input[type="email"] {
    padding: 15px 100px 15px 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: #757575;
    font-size: 18px;
}

.footer-btn {
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: lightcoral;
    font-size: 18px;
}

.footer-icon {
    width: 40px;
    margin-right: 8px;
}